<%= form_with(model: stat, local: true) do |form| %>
  <% if stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
      <% stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :stat_type %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :stat_value %>
  </div>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.text_field :player_id, id: :stat_player_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
